/* Buttons ink override */
table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
	background: #c00f94;
	border: 0px solid #2284a1;
}

table.button:hover td,
table.button:visited td,
table.button:active td {
  background: #c00f94 !important;
}

table.button:hover td,
table.tiny-button:hover td,
table.small-button:hover td,
table.medium-button:hover td,
table.large-button:hover td {
  background: #c00f94 !important;
}

/* platte tekst */
td.tekstkop{
	color: #c00f94;
	font-size: 20px;
	font-weight: bold;
}

/* artikelen */
td.artikelkop1{
	background: #c00f94;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 20px !important;
}
td.artikelkop2{
	background: #f6d2eb;
	color: #c00f94;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 20px !important;
}

/* facebook */

table.facebook td {
  background: #3b5998;
  border-color: #2d4473;
}

table.facebook:hover td {
  background: #2d4473 !important;
}

table.twitter td {
  background: #00acee;
  border-color: #0087bb;
}

table.twitter:hover td {
  background: #0087bb !important;
}

table.google-plus td {
  background-color: #DB4A39;
  border-color: #CC0000;
}

table.google-plus:hover td {
  background: #CC0000 !important;
}

.template-label {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

.callout .panel {
  background: #ECF8FF;
  border-color: #b9e5ff;
}

.header {
	
}

.footer .wrapper {
	
}

.footer h5 {
  padding-bottom: 10px;
}

table.columns .text-pad {
  padding-left: 10px;
  padding-right: 10px;
}

table.columns .left-text-pad {
  padding-left: 10px;
}

table.columns .right-text-pad {
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {

  table[class="body"] .right-text-pad {
    padding-left: 10px !important;
  }

  table[class="body"] .left-text-pad {
    padding-right: 10px !important;
  }
}
